@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slideIn {
  animation: slideIn 0.5s;
  transform: translate(0);
}
.slideOut {
  animation: slideOut 0.5s;
  transform: translateX(-100%);
}
