.menu-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-item {
  padding-bottom: 5px;
  border-bottom: 4px solid $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .menu-image {
    margin: 1rem;
    aspect-ratio: 1;
    object-fit: cover;
    width: 5rem;
    border-radius: 50%;
  }
}

.scrollable {
  height: 90%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homepage-content div {
  border-radius: 1rem;
  border: 2px solid $primary;
  padding: 1rem;
}

.homepage-content p {
  text-align: center;
  font-size: 1rem;
  font-family: "Tilt Warp";
}
