header {
  background-color: #333;
  color: white;
  padding: 2rem;
  ul {
    display: flex;
    flex-direction: column;
    padding-inline: 10%;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    li {
      transition: all ease-out 500ms;
      font-size: 1.5rem;
      text-transform: uppercase;
      a {
        font-size: 1.5rem;
      }
      &:hover {
        color: #f00;
        transform: scale(1.2);
      }
    }
  }
}

.Mobile-header {
  position: fixed;
  z-index: 2;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  span {
    transition: all ease-out 500ms;
    font-size: 1.5rem;
    &:hover {
      color: #f00;
      transform: scale(1.2);
    }
  }
}
.menu-link {
  text-align: center;
  margin-block: 1.5rem;
}

button span {
  font-family: "Tilt Warp", sans-serif !important;
}
